.startButton {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 52, 163);
  color: aliceblue;
  text-align: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.stopButton {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  background-color: rgb(20, 28, 97);
  color: aliceblue;
  text-align: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.saveButton {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  background-color: rgb(52, 55, 78);
  color: aliceblue;
  text-align: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.verderButton {
  height: 50px;
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  border-radius: 15px;
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  background-color: rgb(40, 55, 192);
  color: aliceblue;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.assuranceDiv {
  height: 250px;
  width: 400px;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.getCentered {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.resumeButton {
  height: 75px;
  width: 100px;
  background-color: rgb(24, 11, 194);
  border-color: white;
  color: white;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}
.cancelButton {
  height: 75px;
  width: 100px;
  background-color: rgb(177, 25, 25);
  border-color: white;
  color: white;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  font-size: large;
  margin-right: 10px;
}
